.box {
    margin: 50px;
    background-color: red;
}

/* .box {
    margin: 50px;
    background-color: orange;
}

.box {
    margin: 50px;
    background-color: yellow;
}

.box {
    margin: 50px;
    background-color: green;
} */